body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#charts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    max-width: 600px;
    margin: 20px;
}
